@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #F24A25; 
 --lightGrey:#F8F8F8;
 --textGrey: #616161;
 --lightOrange:  #F24A2540;
 ;
 


}
.active{
  background-color: var(--orange)!important;
  color: white!important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}
.smooth1{
transition:  all 0.1s ease-in-out;
}
.smooth3{
transition:  all 0.3s ease-in-out;
}
.center{
  display: flex;
  align-items: center ;
  justify-content: center;
}
.underlineHover {
  position: relative;
  display: inline-block;
}
.underlineHover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px; 
  width: 0;
  height: 2px; 
  background-color: var(--orange); 
  transition: width 0.3s ease, left 0.3s ease; 
}
.underlineHover:hover::after {
  width: 100%; 
  left: 0; 
}
.bg-banner{
  background: url("/images/Frame 1116607727.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.scrollbarHidden::-webkit-scrollbar {
  display: none; /* Hides scrollbar for WebKit browsers (Chrome, Safari) */
}
.scrollbarHidden {
  -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}
.button-transition {
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

.button-visible {
  opacity: 1;
  transform: scale(1); /* Scale up effect */
}

.testimonial-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  width: 1410px; /* 3 cards * 470px each */
}

.testimonial-container.next {
  transform: translateX(-470px); /* Slide left */
}

.testimonial-container.prev {
  transform: translateX(470px); /* Slide right */
}

.testimonial-card {
  flex: 0 0 auto; /* Prevent flex items from growing */
  margin-right: 20px; /* Optional spacing between cards */
}

.banner2{
  background: url("/images/Group 1000004320.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
/* From Uiverse.io by AbanoubMagdy1 */ 
.wave-group {
  position: relative;
  width: 100%;
}

.wave-group .input {
  font-size: 14px;
  padding: 10px 10px;
  display: block;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  /* border: none; */
  /* border-bottom: 1px solid #515151; */
  background: transparent;
}
.wave-group .input:focus {
background-color: transparent;
outline: none;
}
.wave-group .label {
  padding:0px 0px ;
  color: #474646;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 1px;
  top: -14px;
  background-color: white;
  display: flex;
}


.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side,#000 94%,#0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}

.loader::before {
  content: "Loading...";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,#fff 94%,#000);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left
  }
}
/* From Uiverse.io by javierBarroso */ 
.social-login-icons {
  display: flex;
  align-items: center;
  gap: 2px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #111;
}

.socialcontainer {
  height: 70px;
  overflow: hidden;

}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}

.shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* HTML: <div class="loader"></div> */
.loader_img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #F24A25;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%,#0000 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}
@keyframes l25 {
  100% {transform: rotate(1turn)}
}
